
#box{
    border-radius: 20px;
    width: 40%;
    height: 50rem;
    margin: 5rem auto;
    font-family: 'Josefin Sans', sans-serif;
    border: solid 1px black;
}
#title{
    text-align: center;
    margin: 50px auto;
}
#searchBar{
    width: 690px;
    margin: 5px auto;
}
#userInput{
    display:inline-block;
    width: 610px;
}
#searchButton{
    display: inline-block;
    width: 63px;
    height: 30px;
    background: cornflowerblue;
    color:aliceblue;
    border: none;
    border-radius: 5px;
}
#searchButton:active{
    background: rgb(76, 119, 199);
}
#definitionBox{
    width: 650px;
    margin: 50px auto;
}